#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&mo 1            &kp SLASH        &kp ASTERISK     &kp MINUS
&kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS
&kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6
&kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp ENTER
&kp KP_NUMBER_0                   &bootloader
            >;
        };

        layer_1 {
            bindings = <
&trans            &kp EQUAL  &kp DOLLAR  &kp DELETE
&kp K_CALCULATOR  &trans     &trans      &trans
&trans            &trans     &trans
&trans            &trans     &trans      &trans
&trans                       &trans
            >;
        };
    };
};
